doctype html5
html
    head
        meta(charset="utf-8")
        link(href="reset.css" rel="stylesheet")
        link(href="animate.css" rel="stylesheet")
        link(href="libs/bootstrap/bootstrap-grid.min.css" rel="stylesheet")
        link(href="libs/bootstrap/bootstrap.min.css" rel="stylesheet")
        //link(href="https://fonts.googleapis.com/css?family=Montserrat:200,400,500,600,700" rel="stylesheet")
        link(href="libs/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet")
        link(href="style.css" rel="stylesheet")
        title juno
    body
        #app
            #form__overlay(:class="{ particles_blur: particlesBlur }")
            router-view


        //script(src="socket.io.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js")
        script(src="build.js")