doctype html5
html
    head
        meta(charset="utf-8")
        link(href="reset.css" rel="stylesheet")
        link(href="animate.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet")
        link(href="libs/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet")
        link(href="style.css" rel="stylesheet")
        title juno
    body
        #app
            enter(:title="name")

        script(src="build.js")