// Created by spaceman on 24.04.2018.

.header
    .header-nav
        .container-fluid
            .row
                ul.header-nav__list.col-lg-4
                    li.header-nav__item
                        a.header-nav__link Главная
                    li.header-nav__item
                        a.header-nav__link FAQ
                    li.header-nav__item
                        a.header-nav__link О Нас
                    li.header-nav__item
                        a.header-nav__link Блог
                    li.header-nav__item
                        a.header-nav__link API
                .header-nav__logo.col-lg-4
                    img(src="home/images/logo.png")
                    |JUNO
                ul.header-nav__btns.col-lg-4
                    li.header-nav__item
                        a.header-nav__link Вход
    .header-main
        .header-main__inner
            h2.header-main__title Представляем Вам Juno Project
            h4.header-main__desc Ощутите совершенно инной подход к обучению на себе!
        .header-main__overlay

