body {
  background: #1a2535;
}

#form__overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.particles_blur{
  filter: blur(10px)
}

.particles_blur{
  filter: blur(5px);
}

.application{
  background: url('images/background.png');
}

.vignette{
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: block;
  content: "";
  pointer-events: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-image: -webkit-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -webkit--moz-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -webkit--o-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -webkit--ms-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -webkit-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -moz--webkit-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -moz--moz-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -moz--o-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -moz--ms-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -moz-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -o--webkit-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -o--moz-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -o--o-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -o--ms-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -o-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -ms--webkit-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -ms--moz-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -ms--o-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -ms--ms-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -ms-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -webkit-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -moz-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -o-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: -ms-radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-image: radial-gradient(50% 50%, ellipse closest-side, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 120%);
  background-repeat: no-repeat;
}