body{
  font-family: 'Montserrat', sans-serif;
}

.header{
  background: #161930;
  height: 800px;
  position: relative;
}

.header__bg{
  background: url('images/header_bg.png') no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header-nav{
  padding: 7px 0;
  display: flex;
  align-items: center;
}

.header-nav_active{
  border-bottom: 1px solid #42508A;
}

.header-nav__logo{
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 900;
  justify-content: center;
  padding-top: 60px;
}

.header-nav__logo img{
  margin-right: 10px;
  margin-top: -5px;
}

.header-nav__list{
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  padding: 20px 20px 20px 50px;
}

.header-nav__item{
  margin-right: 30px;
}

.header-nav__link{
  cursor: pointer;
  color: #ffffff;
}

.header-nav__link:hover{
  color: #c8c8c8;
}

.header-nav__btns{
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 50px;
}

/* Header-main */

.header-main{
  margin-top: 60px;
  height: 590px;
  text-align: center;
}

.header-main__title{
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
}

.header-main__desc{
  color: #6879a2;
  font-weight: 400;
  font-size: 25px;
}